.navbar-nav .nav-link.active{

    padding-inline: 40px;
    border: 1px black solid;
    border-radius: 20px;

    background-color: black;
    color: white !important;
}

.form-control:focus{
    color: var(--bs-body-color); 
    background-color: transparent;
    border-color: transparent;
    outline: 0;
     box-shadow: 0 0 0 0  !important;
}
.form-control{
    border-bottom: 2px solid #212529 !important;
    border-right: 0  !important;
    border-top: 0  !important;
    border-left: 0  !important;
    /* border: 0 solid transparent !important; */

  
    border-radius: 0 !important;
}